@model IEnumerable<SEOCor.Services.DTO.SiteDTO>

@{
    ViewBag.Title = "Sites";
}

<h2>Sites</h2>

<p>
    @Html.ActionLink("Add New Site", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.SiteId)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Name)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Domain)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.SiteId)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Name)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Domain)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { Id = item.SiteId }) |
            @Html.ActionLink("Tracking Script", "TrackingScript", new { Id = item.SiteId })
        </td>
    </tr>
}

</table>
